@font-face {
  font-family: "Montserrat";
  src: url("./fuentes/Montserrat-VariableFont_wght.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
}

.encabezado ul {
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 100px;
}

.encabezado li{
  font-size: 16px;
}

hr{
  border-top: 1px solid black;
  width: 95%;
  margin-top: 0;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  column-gap: 150px;
  row-gap: 40px;
}

section h2 {
  grid-column: 1 / -1;
  font-size: 32px;
  margin-left: 80px;
}

.info-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img{
  border-radius: 10px;
}

article img:hover{
  transform: scale(1.10);
  transition: 0.4s;
}

.footer {
  margin-top: 50px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #212429;
  color: white;
}

.footer > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icono {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 920px) {

.encabezado ul {
  justify-content: center;
  padding: 16px;
}

.encabezado li {
  display: none;
}

.encabezado li:first-child {
  display: block;
}


  section {
  grid-template-columns: repeat(1, 250px);
  }

section h2 {
   grid-column: 1;
   margin-left: 0;
}

  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
  }
  }


